@font-face {
  font-family: 'Fashion Victim';
  src: url(fonts/fashion-victim.woff2) format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
}

.container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;

}

header {
  padding-top: 4rem;
  background-image: url(img/suit.jpg), url(img/bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  height: 360px;
 width: 80vmax;
 margin: 30px auto;
}
h1.site-title {
  font-family: 'Fashion Victim';
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

h1.site-title span {
  margin: 0 2rem;
}

.product {
  margin-top: -5rem;
  padding: 3rem;
  background-color: rgb(78, 77, 77);
}

.product__image {
  width: 6rem;
  height: auto;
}

.t-shirt {
  stroke: #000;
  stroke-width: 2;
}

/*______________________________*/

/*pozicování*/
.color-option__box button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.product__colors {
  margin-left: 50px;
}

.choose-colors {
  display: flex;
}

.product.container {
  display: flex;
}

.color-option {
  flex-basis: 25%;
}

.btn_done {
  margin: 30px 0 20px 100px;
}

.color-option {
  margin: 3px;
}

/*stylování*/
p {
  font-size: 14px;
}

.btn_done button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 10px 50px;
  background-color: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 20px;
}
.color-option__box button {
  border: none;
}

#bila {
  background-color: white;
}

#cerna {
  background-color: black;
}
#cervena {
  background-color: firebrick;
}
#modra {
  background-color: skyblue;
}
